/* html, body {
  font-size: 13px;
    margin: 0px;
    padding: 0px;
    font-weight: 300;
    font-family: Poppins;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
  display: block;
  margin: 0;
  font-family: "Poppins";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
  width: 400px;
  height: 500px;
  overflow: hidden;
}

*, *::before, *::after {
  box-sizing: border-box;
} */

/*fonts definition*/

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: url('fonts/Poppins/Poppins-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/Poppins/Poppins-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url('fonts/Poppins/Poppins-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('fonts/Poppins/Poppins-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/Poppins/Poppins-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url('fonts/Roboto/Roboto-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('fonts/Roboto/Roboto-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/Roboto/Roboto-Bold.ttf') format('truetype');
}
@font-face {
    font-family: "LineAwesome";
    src: url("fonts/line-awesome/line-awesome.eot?v=1.1.");
    src: url("fonts/line-awesome/line-awesome.eot??v=1.1.#iefix") format("embedded-opentype"), url("fonts/line-awesome/line-awesome.woff2?v=1.1.") format("woff2"), url("fonts/line-awesome/line-awesome.woff?v=1.1.") format("woff"), url("fonts/line-awesome/line-awesome.ttf?v=1.1.") format("truetype"), url("fonts/line-awesome/line-awesome.svg?v=1.1.#fa") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Flaticon";
    src: url("fonts/flaticon/Flaticon.eot");
    src: url("fonts/flaticon/Flaticon.eot?#iefix") format("embedded-opentype"), url("fonts/flaticon/Flaticon.woff") format("woff"), url("fonts/flaticon/Flaticon.ttf") format("truetype"), url("fonts/flaticon/Flaticon.svg#Flaticon") format("svg");
    font-weight: normal;
    font-style: normal;
}
/*end font definition*/

/*icons definition*/
[class^="flaticon-"]:before,
[class*=" flaticon-"]:before {
    font-family: Flaticon;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    line-height: 1;
    text-decoration: inherit;
    text-rendering: optimizeLegibility;
    text-transform: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased; }
.flaticon-grid-menu:before {
  content: "\f115";
}
/*custom style*/

html, body {
  overflow: hidden;
  font-size: 13px;
}

.popup-fixed-dimensions {
  width: 370px;
  height: 480px;
}

.m-body .m-content.popup-content {
  padding:0;
}

.m-widget1.popup-widget1 {
  padding: 0.6rem 1rem 1rem 1rem;
}

.reward-row {
  margin-bottom: -0.9rem;
}

.alert.reward-alert {
  margin-top: 0.2rem;
  margin-bottom: 0;
}

.alert.reward-alert.m-alert--icon .m-alert__icon {
  padding: 0.4rem 0.7rem 0.4rem 0.7rem;
}
.alert.reward-alert.m-alert--icon .m-alert__text {
  padding: 0.4rem 0rem;
  font-weight: 500;
}

.wallet-related-content {
  display: none;
}

.popup-clickable-text {
  cursor: pointer;
}

.popup-clickable-text:hover {
  color: #2cd069;
}

.popup-sidebar {
  padding: 20px 30px 15px 30px;
}

.popup-fixed-dimensions .m-header {
  width: 370px;
}

.popup-fixed-dimensions .m-footer {
  min-height: 40px;
}

#address-title {
  cursor: pointer;
}
.m-widget1 .m-widget1__item .temporary-notice.m-widget1__desc {
  font-size: 0.9rem;
  margin-top: 0.5rem;
  display: none;
}
.m-widget1 .m-widget1__item .temporary-notice.m-widget1__desc > i {
  font-size: 1rem;
  vertical-align: middle;
  margin-left: 6px;
  cursor: pointer;
}
.m-widget1 .m-widget1__item .temporary-notice.m-widget1__desc > i:hover {
  color: #212529;
}


.m-topbar .m-topbar__nav.m-nav > .m-nav__item > .m-nav__link .m-nav__link-icon .m-nav__link-icon-wrapper > i {
  transition: font-size 0.2s;
}
.m-topbar .m-topbar__nav.m-nav > .m-nav__item > .m-nav__link:hover .m-nav__link-icon .m-nav__link-icon-wrapper > i {
  font-size: 1.9rem;
}

.m-quick-sidebar.m-quick-sidebar--tabbed .popup-tabs.m-tabs.m-tabs-line {
  margin-bottom: 20px;
}

.m-quick-sidebar .nav.nav-tabs .nav-item {
  flex-grow: 1;
  margin-left: 2px;
  margin-right: 2px;
}

.m-quick-sidebar.m-quick-sidebar--tabbed .nav.nav-tabs .nav-item:first-child {
  margin-left: 0;
}

.m-quick-sidebar.m-quick-sidebar--tabbed .nav.nav-tabs .nav-item:last-child {
  margin-right: 0;
}

.m-quick-sidebar.m-quick-sidebar--tabbed .m-tabs.m-tabs-line > .m-tabs__item > .m-tabs__link {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  width: -moz-fit-content;
}
.m-quick-sidebar .m-section.bottom-data-section {
  margin-bottom: 30px;
}

.m-quick-sidebar .m-section .m-section__sub.big-sub {
  font-weight: 600;
}

.parameter-bottom-stack {
  margin-top: 0.7rem;
}
.add-wallet-stack {
  margin-top: 0.4rem;
}

.btn.btn-popup {
  font-size: 1.1rem;
  font-weight: 500;
  padding: 0.65rem 1rem 0.65rem 0.8rem;
  min-width: 120px;
}
.btn.btn-parameter {
  min-width: 120px;
}

.btn.btn-popup > i.la {
  font-size: 1.4rem;
  margin-right: 0.3rem;
}

#balanceRefresh {
  width: 13px;
  height: 13px;
  display: none;
  margin-right: 0.1rem;
  font-size: 1.3rem;
  color: #2cd168;
  cursor: pointer;
}
#balanceLoader {
  width: 12px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.1rem;
}
#balanceLoader:before {
  margin-top: -0.7rem;
  border-top-width: 1.5px;
  border-right-width: 1.5px;
}

.overlay-container {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 210;
  background-color: rgba(255,255,255,0.95);
  width: 100%;
  height: 100%;
  text-align: center;
}
.overlayWindow {
  display: none;
  padding: 0;
  pointer-events: auto;
}

.overlayPanel {
  display: none;
}

.overlayWindow .overlayClose {
  position: absolute;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  opacity: .5;
  top: 10px;
  right: 20px;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.overlayWindow .overlayClose:hover {
  opacity: 0.75;
}

.stack-overlay-title {
  width: 100%;
  padding: 0 2.2rem;
  height: 4rem;
}

.overlayWindow .overlayTitle {
  padding: 1.4rem 0rem;
  vertical-align: middle;
  font-weight: 500;
  font-family: Roboto;
}

.overlayWindow .overlaySubtitle {
  padding: 1rem 0rem;
  font-size: 1.4rem;
}

.overlayWindow .overlayText {
  font-size: 1.2rem;
  padding-left: 16px;
  padding-right: 16px;
}
.overlayWindow .overlayText.main-text {
  padding-top: 30px;
  padding-bottom: 30px;
}
.overlayWindow .overlayText p {
  margin-bottom: 0;
}

.overlay-form.m-form {
  padding: 1.3rem 2.5rem;
}

.overlay-form.m-form.cramped,
.overlay-form.m-form.very-cramped {
  padding: 0rem 2.5rem;
}
.overlay-form.m-form.cramped .m-form__group,
.overlay-form.m-form.very-cramped .m-form__group {
  padding-bottom: 0;
}

.overlay-form.m-form .m-form__actions {
  padding: 30px 0px;
}
.overlay-form.m-form.very-cramped .m-form__actions {
  padding: 15px 0px;
}

.centered-form.form-control.m-input {
  text-align: center;
}

.overlay-form.m-form .form-control-feedback {
  height: 0;
  margin-top: 0;
}
.overlay-form.m-form .input-group>.form-control#seed-field {
  margin: 0px;
  padding: .15rem 1rem;
  height: 70px;
  resize: none;
  overflow: hidden;
}
.overlay-form.m-form .input-group-append>.btn-double {
  font-size: 1.5rem;
  padding: 0.1rem 0.5rem;
}
.overlay-form.m-form .input-group-append>.btn-separate-left {
  border-left-color: #27b95d;
}

.overlayWindow .m-stack__item .btn,
.overlayWindow .m-form__actions .btn {
  min-width: 90px;
  font-weight: 500;
  font-size: 1.1rem;
}
.overlayWindow .button-list .button-div.m-stack__item {
  padding-bottom: 30px;
}

#captchaField {
  width: 150px;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  border: 1px solid #3f4047;
  border-radius: 0.25rem;
}

#change-captcha {
  cursor: pointer;
  color: #2cd068;
}
#change-captcha:hover {
  text-decoration: underline;
}
.captchaLoading {
  display: none;
}

.captchaLoading.loading {
  display: block;
}
.captchaLoading.m-loader.m-loader--lg:before {
  left: auto;
  right: 5px;
  top: 18px;
}

.waitingOverlayLoading.m-loader {
  pointer-events: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.waitingOverlayLoading.m-loader:before {
  width: 4rem;
  height: 4rem;
  margin-top: -2rem;
  margin-left: -2rem;
  border-top-width: 5px;
  border-right-width: 5px;
}

.modal.slideDown {
  z-index: 1;
  height: 0;
  overflow: visible;
  bottom: auto;
  display: block;
}
/*
.modal.slideDown.fade.displayed {
  display: block;
} */

.modal.slideDown .modal-dialog {
  width: 120px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  color: #9699a2;
  transform: translate(0, -30%);
}
.modal.slideDown .modal-dialog:hover {
  color: #212529;
}

.modal.slideDown.show .modal-dialog {
  transform: translate(0, 50px);
}

.modal.slideDown .modal-content .modal-body {
  padding: 10px;
  font-size: 50px;
  line-height: 50px;
  text-align: center;
}

.tooltip.popup-tooltip {
  right: -1000px;
}

.tooltip.popup-tooltip .tooltip-inner {
  padding: 7px 10px 7px 10px;
  max-width: 280px;
}

.slider-container {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}

#varanida-slider-container {
  margin-bottom: 4em;
}

#varanida-slider-container.noUi-target .noUi-connect {
  background: #2cd068;
}
#varanida-slider-container.noUi-target .noUi-connect.noUi-allowed-range {
  background: #2cd0684f;
}
.noUi-target .noUi-handle {
  cursor: pointer;
}
#varanida-slider-container .noUi-pips.noUi-pips-horizontal {
  padding: 1px 0;
  height: 20px;
}

#varanida-slider-container .noUi-pips.noUi-pips-horizontal .noUi-marker-horizontal.noUi-marker-large {
    display: none;
}

#varanida-slider-container .noUi-pips.noUi-pips-horizontal .noUi-value-horizontal {
  transform: translate3d(-50%,15%,0);
}
