#basicWalletFunctions {
  display: none;
}
#walletFunctions {
  display: none;
}
#exportData {
  display: none;
}
#hidePrivKeyButton {
  display: none;
}
#errorMessage {
  color: #F05520;
  font-style: italic;
}
.text-input-group {
  position: relative;
  height: 30px;
  width: 25em;
  max-width: 75%;
  display: inline-block;
}

.text-input-group input {
  display: inline-block;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0 0 2px 0;
  font-size: 14px;
  text-align: center;
  color: #000000;
  background-color: #F5F5F6;
  background-image: none;
  text-overflow: ellipsis;
  cursor: text;
  background-clip: padding-box;
  box-sizing: border-box;
  border-radius: 2px;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2), inset 0 1px 3px rgba(0, 0, 0, 0.2);
  border: none;
  outline: 0;
}

.copy-address-group {
  position: relative;
  height: 30px;
  width: 25em;
  max-width: 75%;
  display: inline-block;
  }
.copy-address-group input {
  display: inline-block;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0 0 0 4px;
  font-size: 14px;
  color: #000000;
  background-color: #F5F5F6;
  background-image: none;
  text-overflow: ellipsis;
  cursor: text;
  background-clip: padding-box;
  box-sizing: border-box;
  border-radius: 2px;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2), inset 0 1px 3px rgba(0, 0, 0, 0.2);
  border: none;
  outline: 0;
}
.copy-address-group .clipboard-button {
  display: inline-block;
  margin: 0;
  padding: 0 14px;
  border: none;
  text-align: center;
  line-height: 18px;
  outline: none;
  height: 26px;
  font-size:16px;
  position: absolute;
  border-radius: 2px;
  right: 2px;
  top: 2px;
  color: #71727B;
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.11), 0 1px rgba(0, 0, 0, 0.14);
}
.copy-address-group .clipboard-button:hover {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0.12) 100%);
  cursor: pointer;
}
.copy-address-group .clipboard-button:active {
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1), inset 0 0 2px 1px rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.04) 0%, rgba(0, 0, 0, 0.04) 100%);
}
.action-button {
  display: inline-block;
  margin: 0px;
  padding: 0px 14px 2px 14px;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
  border: none;
  border-radius: 5px;
  text-align: center;
  color: #fff;
  font-size: 15px;
  line-height: 30px;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  outline: none;
  cursor: pointer;
}
.action-button:hover {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.08) 100%);
}
.action-button:active {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.04) 0%, rgba(0, 0, 0, 0.04) 100%);
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1), inset 0 0 2px 1px rgba(0, 0, 0, 0.1);
}
.action-button.valid-button {
  background-color: #18cc58;
}
.action-button.danger-button {
  background-color: #F05520;
}
.action-button.neutral-button {
  background-color: #FFF;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.08) 100%);
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.14);
  color: #6b7078;
}
.action-button.neutral-button:hover {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0.12) 100%);
}
.action-button.neutral-button:active {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%);
}
.action-button.overlay-validate {
  margin: 23px 0px;
  padding: 0px 14px 2px 14px;
  font-size: 15px;
  line-height: 30px;
}
#modal-overlay {
  display: none;
}
#lockWallet {
  display: none;
}
#delete-overlay-password-div {
  display: none;
}
.modal-background {
  background-color: rgba(0, 0, 0, 0.7);
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
}
.modal-window {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  margin: auto;
  width: 450px;
  min-height: 150px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4), 0 1px 1px rgba(0, 0, 0, 0.5);
  z-index: 10000;
  text-align: center;
}
.overlayTitle {
  margin-bottom: 0.4em;
}
.overlayClose {
  position: absolute;
  top: 2px;
  right: 5px;
  width: 30px;
  height: 30px;
  background-image: url(../img/close-overlay.png);
  background-repeat: no-repeat;
  background-size: 30px 30px;
  cursor: pointer;
}
.overlayTitle h1 {
  font-size: 1.7em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-weight: bold;
}
.overlayText p {
  margin: 0.5em;
  font-size: 1.2em;
}
.overlayText.small p {
  margin: 0.3em;
  font-size: 1em;
}
.overlayError {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  position: absolute;
  font-size: 0.9em;
  color: #ff2700;
}
.overlayError p {
  margin:0;
}
.modal-window .text-input-group {
  position: relative;
  height: 30px;
  width: 60%;
  display: block;
  overflow: hidden;
  margin: auto;
}
.modal-window .text-input-group.wider {
  width: 90%;
}
